@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,100&family=Special+Elite&display=swap');

.product {
    background-color: #fff; 
    width: 300px;
    height: 500px;
    margin: 10px auto;
    cursor: pointer;
 }

.product__img {
    width: 300px;
    height: 400px;
}

.notimage {
    width: 300px;
    height: 380px;
    color: #8a8a8a;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product__info {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 3px;
    justify-content: center;

}

.product__info__title {
    margin-top: 10px;
    font-family: 'Roboto';
    font-weight: bold;
}