@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,100&family=Special+Elite&display=swap');
.line {
    color: #000;
}

.cart {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    margin: 30px 0;   
}

.cart__img {
    width: 100px;
}

.noimage {
    width: 100px;
    height: 38px;
    color: #8a8a8a;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.cart__title {
    margin-top: 10px;
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 0.8rem;
}

.cart__info__price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cart__info__price label {
   margin-right: 10px;
}

.cart__size {
    
}

.cart__trash {
    display: flex;
    align-items: center;
}

.cart__icon {
    color: #000;
}

.cart__icon:hover {
    opacity: 0.5;
    cursor: pointer;
}

@media (max-width: 360px) {
    .container__cart {
        width: 98%;
    }
}

@media (min-width: 360px) and (max-width: 600px) {
    .container__cart {
        width: 80%;
    }

}

@media (min-width: 600px) {
    .container__cart {
        width: 70%;
        max-width: 500px;
        font-size: 1.1rem;
    }

    .cart__title {
        font-size: 1rem;
    }
}